{% extends 'shoppingmall/base.html' %}

{% block head_title %}
    {{item.name}}
{% endblock %}
{% block main_area %}
                    {% if user.is_authenticated %}
                        {% if user.is_superuser or user.is_staff %}
                        <a class="btn btn-info float-right" href="/shoppingmall/update_item/{{item.pk}}/" role="button">
                            <i class="fas fa-pen"> Edit Post</i>
                        </a>
                        {% endif %}
                    {% endif %}
<div id="post-area">
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
<!--                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>-->

                    {% if item.image %}
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ item.image.url }}" alt="{{item}}의 head_image" /></div>
                    {% else %}
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    {% endif %}
                    <div class="col-md-6">
                        <a href="#" class="badge badge-light"><div class="mb-1">{{ item.manufacturer }}</div></a>
                        <h3 class="display-5 fw-bolder">{{ item.name }}</h3>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">{{ item.price }}원</span>
<!--                            <span>$40.00</span>-->
                        </div>
                        <p class="lead">{{ item.content }}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            {% if item.colors.exists %}
                            <form>
                                <select id="color" style="height:100%">
                                    {% for c in item.colors.all %}
                                    <option value="{{c}}">{{c}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                            {% endif %}
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>

<div id="comment-area">

</div>

{% endblock %}