{% extends 'shoppingmall/base_full_width.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    Update Item
{% endblock %}

{% block main_area %}
    <h1>Update Item</h1>
    <hr/>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{form | crispy}}
            <div id="div_id_colors_str">
                <label for="id_colors">Colors:</label>
                <input id="id_colors" type="text" name="colors_str"
                       class="testinput textInput form-control" value="{{ color_str_default }}">
            </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
    {{ form.media }}
{% endblock %}